<div id="tf-contact" class="text-center">
<div class="container">
     <div class="row">
      <div class"col-md-6 col-md-offset-2">
        <div class="section-title center">
          <h3><strong>Edit Poll</strong></h3>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
               
                    </div>


<%= form_for @poll do |f| %>

	<p><%= f.label :title %>: <%= f.text_field :title %></p>

	<p><%= f.label :image %>: <%= f.file_field :image %></p>

	<p><%= f.label :image_one %>: <%= f.file_field :image_one %></p>

	<p><%= f.label :message %>: <%= f.text_field :message %></p>

	<p><%= f.submit "Save poll changes " %></p>
<% end %>
<%= link_to "Back", polls_path %>

</div>
</div>
</div>
</div>