<div id="tf-contact" class="text-center">
<div class="container">
     <div class="row">
      <div class"col-md-6 col-md-offset-2">
        <div class="section-title center">
          <h3><strong>Create Poll</strong></h3>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
               
                    </div>
			<% @polls.each do |poll| %>
				<p>		
				<div class="container">
					<div class="col-md-12">
						<%= form_for poll.votes.build do |f| %>
						<div class="col-md-6">
							<% unless poll.title.blank? %>
							<%= poll.title %> 
							<% end %>
						</div>
						<div class="col-md-6">
							<% unless poll.message.blank? %>
							<%= poll.message %>
							<% end %>
						</div>
						<% end %>
						</p>
					</div>
				</div>
				<div class="container">
					<div class="col-md-12">
							<% imagepoll1 = poll.image.url(:medium) != '/images/medium/missing.png' ? true : false %>
							<% imagepoll2 = poll.image_one.url(:medium) != '/image_ones/medium/missing.png' ? true : false %>

							<%= form_for poll.votes.build do |f| %>
							<%= poll.topic %><p><p>
							<div class="col-md-6">
								<% if imagepoll1 %>
								<%= image_tag poll.image.url(:medium)%> Vrs
								<% end %>
							</div>
							<div class="col-md-6">
							<% if imagepoll2 == true %>
							<%= image_tag poll.image_one.url(:medium)%>
							<% end %><p>
							</div>
							<p><p><%= poll.mesage %>
							<p><%= link_to "View Comments", poll %>
							<%= link_to "Vote", poll %>
							<% end %>	
					</div>
				</div>
				</p>
				<hr/>
			<% end %>
			<%= link_to 'Text Poll', new_poll_path, class: "btn btn-primary" %>
			<%= link_to 'Picture Poll', polls_picpol_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
</div>