<h2>This is the index page </h2>

<% @polls.each do |poll| %>
	<p>		
		<%= form_for poll.votes.build do |f| %>
		<% unless poll.title.blank? %>
			<%= poll.title %> Vrs.
		<% end %>
		<% unless poll.message.blank? %>
			<%= poll.message %>
		<% end %>
		<% end %>
		</p>

		<% imagepoll1 = poll.image.url(:medium) != '/images/medium/missing.png' ? true : false %>
		<% imagepoll2 = poll.image_one.url(:medium) != '/image_ones/medium/missing.png' ? true : false %>

		<%= form_for poll.votes.build do |f| %>
		<%= poll.topic %><p><p>
		<% if imagepoll1 %>
		<%= image_tag poll.image.url(:medium)%> Vrs
		<% end %>
		
		<% if imagepoll2 == true %>
		<%= image_tag poll.image_one.url(:medium)%>
		<% end %>
		<p><p><%= poll.mesage %>
		<p><%= link_to "View Comments", poll %>
		<%= link_to "Vote", poll %>
		<% end %>
	</p>
	<hr/>
<% end %>

<%= link_to 'Text Poll', new_poll_path, class: "btn btn-primary" %>
<%= link_to 'Picture Poll', polls_picpol_path, class: "btn btn-primary" %>
<p>
