<h2>This is the index page </h2>

<% @poll.each do |poll| %>
	<p>
		<%= link_to poll.title, poll %>
		</p>

		<% imagepoll1 = poll.image.url(:medium) != '/images/medium/missing.png' ? true : false %>
		<% imagepoll2 = poll.image_one.url(:medium) != '/image_ones/medium/missing.png' ? true : false %>

		<% if imagepoll1 == true %>
			<%= image_tag poll.image.url(:medium)%>
		<% end %>
		<% if imagepoll2 == true %>
			<%= image_tag poll.image_one.url(:medium)%>
		<% end %>

		<h4><%= poll.message %></h4>
	</p>
	<hr/>
<% end %>

<%= link_to 'Text Poll', new_poll_path, class: "btn btn-primary" %>
<%= link_to 'Picture Poll', polls_picpol_path, class: "btn btn-primary" %>
