<div id="tf-contact" class="text-center">
<div class="container">
     <div class="row">
      <div class"col-md-6 col-md-offset-2">
        <div class="section-title center">
          <h3><strong>Text Poll</strong></h3>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
               
                    </div>
<h1>This creates only text Poll</h1>

<%= form_for @poll, html: { multipart: true } do |f| %>
	<p><%= f.label "First Word" %>: <%= f.text_field :title, class: "form-control" %></p>

	<p><%= f.label "Second Word" %>: <%= f.text_field :message, class: "form-control"%></p>

	<p><%= f.label "Description" %>: <%= f.text_field :mesage, class: "form-control"%></p>

	<p><%= f.submit "Create poll" %></p>

<% end %>
<%= link_to 'Back', polls_path %>

</div>
</div>
</div></div>