<h1>This is the picture page</h1>

<%= form_for @poll, html: { multipart: true } do |f| %>
	<p><%= f.label "Topic" %>: <%= f.text_field :topic, class: "form-control" %></p>
	 
	<p><%= f.label :image %>: <%= f.file_field :image %></p>

	<p><%= f.label :image_one %>: <%= f.file_field :image_one %></p>

	<%= f.label "Description" %>: <%= f.text_field :mesage, class: "form-control" %></p>

	<p><%= f.submit "Create poll" %></p>

<% end %>
<%= link_to 'Back', polls_path %>