<h3>This is show page</h3>

<%= form_for @poll do |f| %>

<h4><%= @poll.title %></h4>
<% imagepoll1 = @poll.image.url(:medium) != '/images/medium/missing.png' ? true : false %>
<% imagepoll2 = @poll.image_one.url(:medium) != '/image_ones/medium/missing.png' ? true : false %>

<% if imagepoll1 == true %>
	<h3><%= image_tag @poll.image.url(:medium) %></h3>
	
<% end %>
<% if imagepoll2 == true %>
	<h3><%= image_tag @poll.image_one.url(:medium) %></h3>
	
<% end %>


<h4><%= @poll.message %></h4>

<%= link_to "Back", polls_path(@poll) %>
<%= link_to "Edit", edit_poll_path(@poll) %> ::
<%= link_to "Delete", @poll, :confirm => "Are you sure?", :method => :delete %>
</p>
<% end %>