<h3>This is show page</h3>

<%= form_for @poll,url: vote_path do |f| %>
	
	<%= form_for @poll.votes.build do |f| %>
	<% unless @poll.title.blank? %>
		<%= @poll.topic %>
		<%= @poll.title %>
		<%= f.radio_button :vote_count, 'A' %> Yes
		<h2><%= @poll.votes.where(:vote_count=>"A").count%></h2>
	<% end %>
	<% unless @poll.message.blank? %>
		<%= @poll.message %>
		<%= f.radio_button :vote_count, 'B' %> Yes
		<h2><%= @poll.votes.where(:vote_count=>"B").count%></h2>
		<p><%= f.submit "Vote" %></p>
	<% end %>
	<%= f.hidden_field :poll_id, :value => [@poll.id] %>
	<% end %>

	<% imagepoll1 = @poll.image.url(:medium) != '/images/medium/missing.png' ? true : false %>
	<% imagepoll2 = @poll.image_one.url(:medium) != '/image_ones/medium/missing.png' ? true : false %>

	<%= form_for @poll.votes.build do |f| %>
	<strong><%= @poll.mesage %></strong><p><p>
	<% if imagepoll1 == true %>
		<%= image_tag @poll.image.url(:medium) %>
		<%= f.radio_button :vote_count, 'A' %> Yes
		<h2><%= @poll.votes.where(:vote_count=>"A").count%></h2>
	<% end %>
	<% if imagepoll2 == true %>
		<%= image_tag @poll.image_one.url(:medium) %>
		<%= f.radio_button :vote_count, 'B' %> Yes
		<h2><%= @poll.votes.where(:vote_count=>"B").count%></h2>
		<p><%= f.submit "Vote" %></p>
	<% end %>
	<%= f.hidden_field :poll_id, :value => [@poll.id] %>
	<% end %>	
<% end %>
	
	
	<%= form_for [@poll.comments.new] do |f| %>
	<p><%= f.label "New Comment" %>
	 <%= f.text_field :comment, class: "form-control" %></p>
	<p><%= f.submit "Add Comment" %></p>
	<%= f.hidden_field :poll_id, :value => [@poll.id] %>
	<% end %>
	<%= render :partial => @poll.comments %>
	
<%= link_to "Back", polls_path %>
<%= link_to "Edit", edit_poll_path(@poll) %>
<%= link_to "Delete", @poll, :confirm => "Are you sure?", :method => :delete %>
</p>
