 <div class="container">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header">Text Poll</h1>  
            <%= link_to 'New textpoll', new_textpoll_path %><p>
<%= link_to 'New Picpoll', new_picpoll_path %><p>
<% @textpolls.each do |text| %><p>
<%= text.title %>
<%= text.first_msg %>
<%= text.second_msg %>
<%= link_to 'Vote', text %>
<% end %>                      
            </div>
        </div>
    </div>

