<h3>This is the index page</h3>
<%= link_to 'New textpoll', new_textpoll_path %><p>
<%= link_to 'New Picpoll', new_picpoll_path %><p>
<% @textpolls.each do |text| %><p>
<%= text.title %>
<%= text.first_msg %>
<%= text.second_msg %>
<%= link_to 'Vote', text %>
<% end %>