 <div class="container">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header">New Text Poll</h1>  
            <%= form_for @textpoll, url: textpolls_path do |f| %>
    <p><%= f.label "Title" %>: <%= f.text_field :title%></p>

    <p><%= f.label "First Word" %>: <%= f.text_field :first_msg%></p>

    <p><%= f.label "Second Word" %>: <%= f.text_field :second_msg%></p>

    <p><%= f.submit "Create poll" %></p>
<% end %>
<%= link_to 'Back', polls_path %>                         
            </div>
        </div>
    </div>


