 <div class="container">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header">Display Text Polls</h1>  
            <p id="notice"><%= notice %></p>
<%= @textpoll.title %><p>
<%= @textpoll.first_msg %>
<%= form_for @textpoll.votes.build do |f| %>
	<button class="btn btn-info" aria-label="Left Align">
		<span class="glyphicon glyphicon-thumbs-up"></span> Like
		<% if user_signed_in? %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<% end %>
		<%= f.hidden_field :textpoll_id, :value => [@textpoll.id] %>
		<%= f.hidden_field :count, :value => 'A' %>
	</button>
	<% end %>
<p><%= @textpoll.second_msg %><p>
	<%= form_for @textpoll.votes.build do |f| %>
	<button class="btn btn-info" aria-label="Left Align">
		<span class="glyphicon glyphicon-thumbs-up"></span> Like
		<% if user_signed_in? %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<% end %>
		<%= f.hidden_field :textpoll_id, :value => [@textpoll.id] %>
		<%= f.hidden_field :count, :value => 'B' %>
	</button>
	<% end %>
<%= link_to 'Back', polls_path %>	
            </div>
        </div>
    </div>

