 <div class="container">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header">Resend Confirmation Instructions</h1>  
                                     
            </div>
        </div>
    </div>

<%= form_for @picpoll do |f| %>
<p><%= f.label "Title" %>: <%= f.text_field :title %></p>
<p><%= f.label "First Picture" %>: <%= f.file_field :image %></p>
<p><%= f.label "Second Picture" %>: <%= f.file_field :image_one %></p>
<p><%= f.label "Description" %>: <%= f.text_field :message %></p>
<%= f.submit 'Update' %>
<% end %>
<%= link_to 'Back', picpoll_path %>