<div class="container">
<div class="row">
	<div class="col-lg-12">
		<% if user_signed_in? %>
		<h1 class="frame " style="width:100%">
			<div class="col-lg-4">Polls Display</div>
			<div class = "col-lg-4">
				<%= link_to 'New Text Poll', new_textpoll_path, :class => "btn-sign new" %>
			</div>
			<div class = "col-lg-4">
				<%= link_to 'New Picture Poll', new_picpoll_path , :class => "btn-sign new" %>
			</div>
		</h1>

		<!-- My Polls -->
		<div class="col-lg-6 frame">
			<h3>MY Polls</h3><hr>
			<div style="display:none">
				<% @polls=current_user.textpolls %>
			</div>
			<% @textpolls.each do |poll| %>
			<div class="row">
				<div class="col-lg-6">
					<h4><%= poll.title %><br><span class="total">
						<% first = poll.votes.where(:count=>'A').count.to_i %>
						<% second = poll.votes.where(:count => 'B').count.to_i %><%= total = first+second %> (Votes)<% percentA = (first.to_f/total*100).to_i.round(0)%>
						<% percentB = (second.to_f/total.to_f*100).round(0)%>
					</span></h4>
				</div>

				<% if first > second %>
				<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.first_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentA %>%;">
							<span><%= percentA.to_i %>%</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.second_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentB %>%;">
							<span><%= percentB.to_i %>%</span>
						</div>
					</div>
				</div>

			<% elsif first == second %>
				<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.first_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentA %>%;">
							<span><%= percentA.to_i %>%</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.second_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentB %>%;">
							<span><%= percentB.to_i %>%</span>
						</div>
					</div>
				</div>
			<% else %>	

			<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.first_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentA %>%;">
							<span><%= percentA.to_i %>%</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<h4 style="text-align:center"><%= poll.second_msg %></h4>
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentB %>%;">
							<span><%= percentB.to_i %>%</span>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			<hr>
			<% end %>
			</div>
			
			<div style="display:none">
				<% @pol=current_user.picpolls %></div>
				<% @pol.each do |pil| %>
				<h4><%= pil.title %></h4>
				<%= image_tag pic.image.url(:medium)%>
				<%= image_tag pic.image_one.url(:medium) %>
				<hr>
				<% end %>
		
			<!--Display all polls -->
			<div class="col-lg-6 frame">
				<h3>All Polls</h3><hr>
				<% @textpolls.each do |text| %>
				<h4><%= text.title %></h4>
				<%= link_to 'Vote', text, :class => "btn-vote"%><hr>
				<% end %>
				<% @picpolls.each do |pic| %>
				<h4><%= pic.title %></h4>
				<%= link_to 'Vote', pic, :class => "btn-vote" %><hr>
				<% end %> 
			</div>         
		</div>
		<% else %>
		<!-- All Polls Only -->
		<h1 class="frame">
			Polls Display
		</h1>
		<div class=" frame">
			<h3>All Polls</h3><hr>
			<% @textpolls.each do |text| %>
			<h4><%= text.title %></h4>
			<%= link_to 'Vote', text, :class => "all-vote"%><hr>
			<% end %>
			<% @picpolls.each do |pic| %>
			<h4><%= pic.title %></h4>
			<%= link_to 'Vote', pic, :class => "all-vote" %><hr>
			<% end %> 
		</div> 
		<% end %>
	</div>
</div>
</div>


